body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;

}


strong {
	font-weight: 600;
}

p {
	margin-bottom: .7rem;
}

ul {
		padding-inline-start: 40px;
		margin-bottom: 1rem;

}

dl.dl-vertical {
	  padding-top:1rem;

	dt {
		float: left;
	}
	dd {
		margin-left: 8rem;
	}
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500;
  margin-bottom: .5rem;
  line-height: 1.2;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.7em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 2.0em;
}