body {
  @include font-settings;

}



strong {
	font-weight: 600;
}



ul {
		padding-inline-start: 40px;
		margin-bottom: 1rem;

}

dl.dl-vertical {
	  padding-top:1rem;

	dt {
		float: left;
	}
	dd {
		margin-left: 8rem;
	}
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
}

