/** Helpers **/

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-md-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-thumbnail-xs {
  max-width: 150px;
  margin: 5px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.lf-black-bg {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(30%, #111111), color-stop(50%, #111111), color-stop(70%, #111111), to(#1d1d1d));
  background: linear-gradient(90deg, black 0%, #111111 30%, #111111 50%, #111111 70%, #1d1d1d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1d1d1d",GradientType=1);
}

.lf-white-bg {
  background: white;
}

.lf-sm-logo {
  max-width: 200px;
}

/** Base **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html,
#app,
#app > .row {
  height: calc(100% - 33px);
}

body {
  background-image: url("");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  overflow-x: hidden;
  line-height: 1.5;
}

.page {
  margin-top: 56px;
}

.job-title {
  white-space: nowrap;
}

.btns-wrapper {
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(75vh);
          transform: translateY(75vh);
}

.home-btns-animation {
  -webkit-animation-name: slideInHomeBtns;
          animation-name: slideInHomeBtns;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideInHomeBtns {
  0% {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }

  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes slideInHomeBtns {
  0% {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }

  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

/*** Hyperlinks ***/

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #666766;
}

.dropdown-menu-bg {
  background: #777;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: .7rem;
}

ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  margin-bottom: 1rem;
}

dl.dl-vertical {
  padding-top: 1rem;
}

dl.dl-vertical dt {
  float: left;
}

dl.dl-vertical dd {
  margin-left: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: .5rem;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2.0em;
}

/** Components **/

#top-bar {
  background: white;
  -webkit-box-shadow: 10px 0 10px #aaa;
          box-shadow: 10px 0 10px #aaa;
  height: 56px;
}

#top-bar a {
  color: #999;
}

#top-bar :hover {
  color: #000;
}

aside {
  color: #000;
  width: 360px;
  padding-top: 5rem;
  position: fixed !important;
  height: 100%;
  left: -500px;
  z-index: 900;
  -webkit-box-shadow: 10px 10px 10px #ddd;
          box-shadow: 10px 10px 10px #ddd;
}

aside .navbar {
  width: 95%;
}

aside a {
  color: #ccc;
}

aside a:hover {
  color: #999;
}

aside .primary-menu {
  margin-bottom: 1rem;
  padding-bottom: 0.2rem !important;
}

aside .primary-menu a {
  padding-bottom: .1rem;
  padding-top: .1rem;
}

aside .navbar-toggler {
  border-color: black;
}

aside .user .avatar {
  max-width: 120px;
}

aside .user .user-name a {
  color: #000;
}

aside .user .user-title h2 {
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
}

aside .block-social a {
  color: #ccc;
}

aside .block-social a:hover {
  color: #999;
}

@media (min-width: 992px) {
  aside .primary-menu {
    margin-left: 3rem;
  }
}

.btn-secondary {
  background: #fff;
  color: #000;
}

.btn-secondary:hover {
  background: #ddd;
  color: #000;
}

/** Layout **/

html {
  overflow-x: hidden;
}

main .page-title {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

main #content {
  color: #000;
  background-color: #fff;
}

main #content a {
  color: #000;
}

main #content a:hover {
  text-decoration: underline;
}

main .router-link-active {
  font-weight: 600;
  color: #000;
}

#phone-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: .8rem;
  z-index: 800;
}

#phone-btn img {
  width: 100%;
  max-width: 120px;
}

footer {
  margin: 2em 0;
  text-align: center;
}

/** Pages **/

#home {
  color: #fff;
  position: relative;
}

#home .content-wrapper {
  width: 100%;
  height: 100vh;
}

.loading-overlay {
  position: absolute;
  background: #000;
  z-index: 100000;
  width: 100%;
  height: 100%;
}

.loading-overlay-animation {
  -webkit-animation-name: loadingOverlayAnimation;
          animation-name: loadingOverlayAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loadingOverlayAnimation {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

@keyframes loadingOverlayAnimation {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

#contact form input,
#contact form textarea {
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid black;
}

#portfolio .portfolio-item {
  padding: 4em 0 16em 0;
  margin-left: 0;
}

#portfolio .portfolio-item .project-title a {
  color: #ffc909;
  opacity: .8;
  text-decoration: underline;
}

#portfolio .portfolio-item .project-title a:hover {
  color: #ffc909;
  opacity: 1;
}

#portfolio .technologies-title {
  color: #888;
  margin: 1em 0 .5em 0;
}

#portfolio .technology-tag {
  text-transform: uppercase;
  background: #ffc909;
  opacity: .8;
  color: #fff;
  margin: .3em;
  padding: .3em .6em;
}

/** Themes **/

@-webkit-keyframes slideInNavigation {
  0% {
    left: -430px;
  }

  100% {
    left: 0;
  }
}

@keyframes slideInNavigation {
  0% {
    left: -430px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slideOutNavigation {
  0% {
    left: 0;
  }

  100% {
    left: -430px;
  }
}

@keyframes slideOutNavigation {
  0% {
    left: 0;
  }

  100% {
    left: -430px;
  }
}

@-webkit-keyframes slideContentIn {
  0% {
    left: 0;
  }

  100% {
    left: 430px;
  }
}

@keyframes slideContentIn {
  0% {
    left: 0;
  }

  100% {
    left: 430px;
  }
}

@-webkit-keyframes slideContentOut {
  0% {
    left: 430px;
  }

  100% {
    left: 0;
  }
}

@keyframes slideContentOut {
  0% {
    left: 430px;
  }

  100% {
    left: 0;
  }
}

.slide-in-navigation {
  -webkit-animation-name: slideInNavigation;
          animation-name: slideInNavigation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-out-navigation {
  -webkit-animation-name: slideOutNavigation;
          animation-name: slideOutNavigation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-in-content {
  -webkit-animation-name: slideContentIn;
          animation-name: slideContentIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-out-content {
  -webkit-animation-name: slideContentOut;
          animation-name: slideContentOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

