@import "../../helpers/_variables";
@import "../../helpers/_mixins";

aside {
        color: #000;

        .navbar {
            border-top: 0;
        }
        .navbar {
            border-top: 2px solid black;
            padding: 0;
            width: 95%;
        }

        .nav {
            .nav-link {
                padding-top: .9rem;
                padding-bottom: .9rem;
            }
        }

        a {
            color: #999
        }
        a:hover {
            color: #fff
        }
        .router-link-active {
            font-weight: 600;
            color: $sidebar-hyperlink-font-color;
        }

        .primary-menu .nav-item:hover:after,
        .primary-menu .nav-item.router-link-active:after {
            content: ' ';
        }

        .navbar-toggler {
            border-color: black;
        }

        .user {
            .avatar {
                max-width: 190px;
            }
            .user-name a {
                color: #000;
            }
            
        }
        .block-social {
            .block-title {
                text-transform: uppercase;
                font-size: .7em;
            }
        }
        @include breakpoint(lg) {
            width: 400px;
            position: fixed !important;
            height: 100%;
            .primary-menu {
                margin-left: 3rem;
            }
            .primary-menu .nav-item:hover:after,
            .primary-menu .nav-item.router-link-active:after {
                content: ' >';
            }

            
        }
}


