@import "../../helpers/_variables";

main {

    #content {
        margin-top: 66px;
    
        color: #000;
        background-color: #fff;
        
    
        a {
            color: $primary-color;
        }
        a:hover {
            text-decoration: underline;
        }
        @include breakpoint('lg') {
           //  margin-left: 24.6%;
        }
    }

}
