@import "../../helpers/_variables";
html {
    overflow-x: hidden;;
}
main {
    .page-title {
        padding-top: 1rem;
        margin-bottom: 3rem;
    }
    #content {
        color: #000;
        background-color: #fff;
        
    
        a {
            color: $primary-color;
        }
        a:hover {
            text-decoration: underline;
        }
        @include breakpoint('lg') {
           //  margin-left: 24.6%;
        }
    }
    .router-link-active {
        font-weight: 600;
        color: #000;
    }
}

#phone-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: .8rem;
    z-index: 800;
    img {
        width: 100%;
        max-width: 120px;
    }
}