  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  

  .center-md-content {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
}

  .img-thumbnail-xs {
    max-width: 150px;
    margin: 5px;
  }
  


.fade-enter-active,
 .fade-leave-active {
   transition-duration: 0.3s;
  transition-property: opacity;
  transition-property: height, opacity;
   transition-timing-function: ease;
  overflow: hidden;
 }
.fade-enter,
.fade-leave-active {
  opacity: 0
}


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.lf-black-bg {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 30%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 70%, rgba(29,29,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 30%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 70%, rgba(29,29,29,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 30%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 70%, rgba(29,29,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1d1d1d",GradientType=1);
}
.lf-metal-bg {

	
}
.lf-white-bg {
  background: white;
}

.lf-sm-logo {
  max-width: 200px;
}