


    @keyframes slideInNavigation {
        0% {left: -430px;}
        100% {left: 0;}
    }
    
    @keyframes slideOutNavigation {
        0% {left: 0;}
        100% {left: -430px;}
    }
    
    @keyframes slideContentIn {
        0% {left: 0}
        100% {left: 430px;}
    }
    
    @keyframes slideContentOut {
        0% {left: 430px;}
        100% {left: 0;}
    }
    
    .slide-in-navigation {
        animation-name: slideInNavigation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .slide-out-navigation {
        animation-name: slideOutNavigation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .slide-in-content {
        animation-name: slideContentIn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .slide-out-content  {
        animation-name: slideContentOut;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
