@import '../../helpers/_variables.scss';

// Global Classes
body, html  {
    height: 100%;
    overflow-y: hidden;
}
#admin-cpanel {
    background: rgb(250, 250, 250);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(250, 250, 250), #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(250, 250, 250), #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100%;
    .row {
        height: 100%;
    }
    .admin-sidebar {
        height: 100%;
        color: #fff;
    }
    // 
    #profile-img {
        width: 100%;
        max-width: 200px;
    }
    #profile-username {
        text-align: center;
    }
    #profile-img-container {
        text-align: center;;
    }
}
#admin-cpanel .content {
    height: 100%;
    overflow-y: scroll;

    .page-title-header {
        
    }

    table {
        a {
            color: #000;
            text-decoration: underline;
        }
        a:hover {
            color: #fff;
        }
        button[type="submit"] {
            background: none;
            color: rgb(200, 0, 0);
            border: none;
            text-decoration: underline;
        }
        button[type="submit"]:hover {
            color: rgb(255, 0, 0);
        }
    }
}
// Admin Sidebar Setttings
