@import '../../helpers/_variables.scss';

// Global Classes
body, html  {
    height: 100%;
    overflow-y: hidden;
}
#admin-cpanel {
    background: white;
    color: #000;
    height: 100%;
    .row {
        height: 100%;
    }
    .admin-sidebar {
        height: 100%;
    }
    // 
    #avatarPreview, #imgPreview {
        max-width: 300px;
    }
}
#admin-cpanel .content {
    height: 100%;
    overflow-y: scroll;
}
// Admin Sidebar Setttings
